.mainClass {
  width: 70vw;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.cartHeader {
  width: 70vw;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  text-align: center;
}

.cartContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  img {
    height: 6rem;
  }
}

.buttonDiv {
  padding: 0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 21, 250);
  border-radius: 1rem;
  button {
    font-size: large;
    color: white;
    cursor: pointer;
    background-color: inherit;
    border: none;
  }
  div {
    font-size: large;
    color: white;
  }
}
.cartTotal {
  width: 70vw;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
